PORT=3000
MONGODB_URI=mongodb+srv://Mahir122105:Mahir1221@cluster0.kdlpk.mongodb.net/ventspace

# For production (MongoDB Atlas):
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ventspace?retryWrites=true&w=majority
